@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.headerText{
  text-align: center;
  text-decoration: none;
  font-size:32px;
  color: white;
  margin: auto;
  /* margin: -0.83em; */
}

body{
  margin: -8px;
}

.header{
  background: sandybrown;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  height: fit-content;
}

.favPage{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  margin-left: 5%;
  margin-right: 2%;
}

#favName{
  color: whitesmoke;
}

#delete{
  color: black;
  background-color: lightgray;
  margin:1px;
  margin-left: 20%;
  padding: 1px;
  border-radius: 5px;
  text-decoration: none;
}

#delete:hover{
  background-color: sandybrown;
}

.recipeInfoContainer{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.imgContainer{
  /* float: left; */
  margin: 2%;
  height: fit-content;
  /* width: 50%; */
}

#recipeImg2{
  /* align-self: center; */
  width: auto;
}

.ingredientsContainer{
  /* float: left; */
  margin-left: 5px;
  margin-right: 5px;
  color: whitesmoke;
}

.instructions{
  display: inline-block;
  margin: 2% 5% 2% 5%;
  color: whitesmoke;
  font-weight: 200;
}

.nutritionContainer{
  /* float: left; */
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  color: whitesmoke;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: sandybrown;
  color: white;
  border-radius: 10px;
}

.topnav a:hover{
  background-color: sandybrown;
  padding: 16px 16px;
  border-radius: 10px;
}

.chefBackground{
  background: url(/chef3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#recipe-details{
  background: rgb(58, 65, 72);
  background-size: cover;
}

#plates-background{
  background: url(/food-plates-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.results{
  
}

.recipeResult{
  background-color: rgba(97, 109, 121, 0.85);
  float: left;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  height: 25%;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  
}

#recipeImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.recipeNameContainer{
  margin-top: 2%;
  margin: auto;
  padding: 2%;
  width: fit-content;
}

#recipeName{
  display: block;
  font-display: wrap;
  color: white;
  text-align: left;
  text-decoration: none;
}

#recipeName:hover{
  text-decoration: underline;
  text-decoration-color: #00B4CC;
}

.addFavoriteButton{
  display: block;
  padding: 2%;
  margin: 2%;
  background-color: rgb(58, 65, 72);
  width: fit-content;
  border-radius: 5px;
}

.addFavoriteButton:hover{
  background-color: sandybrown;
}

.addFavoriteLink{
  color: white;
  text-decoration: none;
}

#indexHeader{
  text-align: center;
  text-decoration: underline;
  font-size:32px;
  color: white;
  margin: -0.83em;
}

.searchWindow{
    display: flex;
    justify-content:space-around;
    flex-direction:column;
    /* align-items:center; */
    /* position:relative; */

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 40%;
    border-color: darkgray;
    text-align: center;
    background-color: rgba(97, 109, 121, 0.65);
    padding: 30px;
    height: 250px;
    border-radius: 10px;
}

/* Two options to search by name or by ingredient */
.searchOptions{
    /* position: relative; */
    margin-top: 10%;
    top: 40px;
    text-align: left;
    color: white;
    /*left: 45px;*/
}

a {
  color: silver    
}

.fav{
  color: sandybrown;
}

/* #delete{
  color: black;
} */

.recipeInformation{
  color: silver;
}

/* All under this comment relates to search bar and button */
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background-color: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    position: relative;
    /* width: 100%; */
    /* top: 150px; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
  }